<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectQLBenhAn">
        <activity
            android:name=".ui.DanhGia.ScreenDanhGia_Detail"
            android:exported="false" />
        <activity
            android:name=".ui.DanhGia.ScreenDanhGia_Main"
            android:exported="false" />
        <activity
            android:name=".ui.admin.MainScreen_Admin"
            android:exported="false" />
        <activity
            android:name=".ui.BacSi.screenBacSi_Edit"
            android:exported="false" />
        <activity
            android:name=".ui.BacSi.screenBacSi_Add"
            android:exported="false" />
        <activity
            android:name=".ui.BacSi.screenBacSi_Detail"
            android:exported="false" />
        <activity
            android:name=".ui.BacSi.screenBacSi_Main"
            android:exported="false" />

        <receiver
            android:name=".ui.ThongBaoTaiKham.Receiver_ThongBaoTaiKham"
            android:exported="false" />

        <activity
            android:name=".ui.medicalRecord.PatientMedicalRecordDetail"
            android:exported="true" />
        <activity
            android:name=".ui.patient.booking.Booking"
            android:exported="true" />
        <activity
            android:name=".ui.authService.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.patient_home.PatientHomeActivity" />
        <activity android:name=".ui.medicalRecord.MyMedicalRecordsActivity" />
        <activity
            android:name=".ui.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.ProfilePatientMedicalRecord"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.UpdateMedicalRecord"
            android:exported="true" />
        <activity
            android:name=".ui.patient.UpdatePatient"
            android:exported="true" />
        <activity
            android:name=".ui.patient.CreatePatient"
            android:exported="true" />
        <activity
            android:name=".ui.patient.Patients"
            android:exported="true" />
        <activity
            android:name=".ui.patient.ProfilePatient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>