<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjectQLBenhAn">
        <activity
            android:name=".ui.ThongKe.screenThongKe_BenhAn"
            android:exported="false" />
        <activity
            android:name=".ui.TaiKham.screenTaiKham_Create"
            android:exported="false" />
        <activity
            android:name=".ui.TaiKham.screenTaiKham_Edit"
            android:exported="false" />
        <activity
            android:name=".ui.TaiKham.screenTaiKham_Main"
            android:exported="false" />
        <activity
            android:name=".ui.home.Demo"
            android:exported="true" />
        <activity
            android:name=".ui.BaseActivity"
            android:exported="true" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".ui.loginService.Login"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.ProfilePatientMedicalRecord"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.PatientMedicalRecordDetail"
            android:exported="true" />
        <activity
            android:name=".ui.DonThuocUI.SuaDonThuoc"
            android:exported="true" />
        <activity
            android:name=".ui.DonThuocUI.ThemDonThuoc"
            android:exported="true" />
        <activity
            android:name=".ui.DonThuocUI.DonThuoc"
            android:exported="true" />
        <activity
            android:name=".ui.DonThuocUI.DanhSachDonThuoc"
            android:exported="true" />
        <activity
            android:name=".ui.DonThuocUI.ChiTietDonThuoc"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.UpdateMedicalRecord"
            android:exported="true" />
        <activity
            android:name=".ui.medicalRecord.CreateMedicalRecord"
            android:exported="true" />
        <activity
            android:name=".ui.patient.UpdatePatient"
            android:exported="true" />
        <activity
            android:name=".ui.patient.CreatePatient"
            android:exported="true" />
        <activity
            android:name=".ui.patient.Patients"
            android:exported="true" />
        <activity
            android:name=".ui.patient.ProfilePatient"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>